services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    command: pnpm dev --host 0.0.0.0 --port 5173
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - ./frontend/.env
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
    ports:
      - "3000:3000"
    command: pnpm run dev
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./backend/.env

  scraper:
    build:
      context: ./backend
    command: pnpm run scrape:fb
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./backend/.env
    restart: "no"
